header {
  color: #fcfcfc;
  background: #777777;
  border: 1px solid #aaaaaa;
  padding: 1em;
}

article {
  max-width: 800px;
}

pre code{
  display:block;
  margin:0;
  padding:1em;
  border:1px solid #ccc;
  border-radius:1em;
  background:#f0f0f0;
  overflow-x:auto
}
